:root {
    --light-blue: #00adb5;
    --dark-blue: #4682b4;
    --dark-yellow: #e6840e;
    --light-white: #eeeeee;
    --light-green: #30be72;
}

body {
    color: #495057;
    font-family: Lora, serif;
    font-size: .875rem;
    background: #F8F9FA;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: -webkit-flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 83.125rem;
    padding-left: .9375rem;
    padding-right: .9375rem;
    margin: 0 auto;
}

main {
    flex: 1 1 auto;
}

.title {
opacity: 0;
}
.loaded .title{
    font-weight: 700;
    line-height: 127.777778%;
    color: #ffffff;
    font-size: 2rem;

    transform: translate(0, 0);
    opacity: 1;
    transition: transform 9s ease, opacity 9s ease;
}

.title_dark {
    font-size: 1.5rem;
    font-weight: 700;
    color: #495057;
}

.text {
    opacity: 0;
}
.loaded .text {
    font-size: .75rem;
    line-height: 166.666667%;

    transform: translate(0, 0);
    opacity: 1;
    transition: transform 10s ease, opacity 10s ease;
}

.links {
    font-size: 1.25rem;
    color: var(--dark-blue);
}

@media (max-width: 767.98px) {
    .links {
        font-size: 1rem;
        color: var(--dark-blue);
    }
}

/* ----------------------------- */
[data-item] {
    transform: translate(0rem, 3.125rem);
    opacity: 0;
    transition: all 0.8s;
}

[data-item].active {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.8s;
}