:root {
  --dark-grey: #1e2125;
  --light-white: #eeeeee;
  --light-white2: #fafafa;
  --dark--blue: #38569f;
  --dark-blue2: #38569f;
  --light-blue: #17bed2;
  --light-blue2: #4682b4;
  --light-blue3: #4586FF;
  --light-blue4: #00adb5;
  --dark-yellow: #ff6600;
  --light-yellow: #f9a743;
  --dark-yellow2: #e6840e;
  --light-green: #30be72;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .9375rem;

}
.sticky-header {
    height: 7vh;
    background-color: #d8dbe0;
    left: 0;
    padding: 1em;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  .sticky-header.fixed {
    position: fixed;
    top: 0;
  }
  .sticky-header.bottom {
    bottom: 0;
  }

.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: .3125rem;
    column-gap: 1.5rem;
}
.menu__link {
    font-size: 1.0625rem;
    padding-bottom: 5px;
    font-weight: 700;
    color: #495057;
    font-family: Poppins, sans-serif;
    display: inline-block;
    /* line-height: 1.5; */
    position: relative;
}

.menu__link.active {
    /* color: var(--dark-yellow); */
}


@media (min-width: 768.98px) {
  .market__btn {
    font-family: Play, sans-serif;
    font-size: 0.75rem;
    font-weight : 700;
    border      : 0.125rem solid #969ea7;
    color       : #969ea7;
    padding      : 0.1875rem 0.675rem;
    border-radius: 0.5rem;
  }
}
@media (max-width: 767.98px) {
  .market__btn {
    font-family: Play, sans-serif;
    font-size: 0.7rem;
    font-weight : 700;
    border      : 0.125rem solid #969ea7;
    color       : #969ea7;
    padding      : 0.25rem 0.375rem;
    border-radius: 0.5rem;
  }
}

@media (max-width: 767.98px) {
  .header__menu {
    display: none;
  }
}

@media (min-width: 768.98px) {
  #burger-menu {
    display: none;
  }
  /* .header__menu {
    display: none;
  } */
}

/* mobile menu */
#burger-menu {
  cursor: pointer;
  height: 20px;
  width: 20px;
  overflow: visible;
  position: relative;
  z-index:2;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: var(--dark-grey);
  display: block;
  height: 3.900px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span {
  right: 0;
  top: 4.5px;
  width: 33px;
  border-radius: 0.0825rem;
}
#burger-menu span:before {
  left: 0.690rem;
  top: -10px;
  width: 22px;
  border-radius: 0.0825rem;
}
#burger-menu span:after {
  left: 0.430rem;
  top: 10px;
  width: 26px;
  border-radius: 0.0825rem;
}

#burger-menu.close span {
  transform: rotate(45deg);
  top: 4.5px;
  width: 27px;
  background: var(--dark-yellow);
}
#burger-menu.close span:before {
  top: 0;
  left: -1px;
  transform: rotate(-90deg);
  width: 27px;
  background: var(--dark-yellow);
}
#burger-menu.close span:after {
  top: 0px;
  left: -1px;
  transform: rotate(45deg);
  opacity:0;
  width:0;
}

#menu{
  z-index:1;
  min-width:100%;
  min-height:100%;
  position: fixed;
  top:0;
  left: 0;
  /* height:0; */
  visibility: hidden;
  opacity: 0;
  text-align:center;
  padding-top:20px;
  transition: all 0.3s ease-in-out;
  
}

#menu.overlay{
  visibility: visible;
  opacity: 1;
  padding-top:200px;
  background:rgba(0, 0, 0, 0.815);
}

#menu li{
  list-style:none;
}
#menu a{
  color:#fff;
  display:block;
  font-size: 38px;
  margin-bottom:40px;
  text-decoration:none;
}
/* mobile menu */