:root {
    --light-blue: #00adb5;
    --dark-blue: #4682b4;
    --dark-yellow: #e6840e;
    --light-white: #eeeeee;
    --light-green: #30be72;
}

.header {
    opacity: 0;
}
.loaded .header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.2);

    transform: translate(0, 0);
    opacity: 1;
    transition: transform 4s ease, opacity 4s ease;
}
.header__container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .9375rem;
    padding-top: .625rem;
    padding-bottom: .625rem;
    min-height: 50px;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: .3125rem;
    column-gap: 1.5rem;
}
.menu__link {
    font-weight: 700;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    display: inline-block;
    line-height: 1.5;
    position: relative;
}

.menu__link.active {
    color: var(--dark-yellow);
}