@import url(reset.css);
@import url(common.css);
@import url(header.css);
@import url(footer.css);
@import url(homepage.css);
@import url(gallery.css);
@import url(download.css);
/* need restructure */
@import url(glightbox-popup.css);
/* need restructure */
:root {
    --dark-grey: #1e2125;
    --light-white: #eeeeee;
    --light-white2: #fafafa;
    --dark--blue: #38569f;
    --dark-blue2: #38569f;
    --light-blue: #17bed2;
    --light-blue2: #4682b4;
    --light-blue3: #4586FF;
    --light-blue4: #00adb5;
    --dark-yellow: #ff6600;
    --light-yellow: #f9a743;
    --dark-yellow2: #e6840e;
    --light-green: #30be72;
}
/* color theme */
body._color-mode .sticky-header {
background-color: #d8dbe0;
}
body._color-mode .menu__link {
    color: #495057;
}
body._color-mode .home__section {
    background-color: #d8dbe0;
}
body._color-mode .section-download {
    /* background-color : hsla(359, 50%, 50%, 1); */
    background-color : hsla(19, 89%, 64%, 1);
}
body._color-mode .gallery__desc {
    color: var(--dark-grey);
}
body._color-mode .gallery-title {
    color: var(--dark-grey);
}

/* TOOLS */
.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
}
/* 1 */
@media (min-width: 768.98px) {
    .color__mode {
        margin: 0rem 0rem 2rem 0rem;
        padding-right: 2.3rem;
        padding-top: 2.3rem;
        display: block;
        background: url(../resources/icons/nav/color.svg) center no-repeat;
        background-size: 38px;
        transform: translate(0, 0);
        opacity: 1;
        transition: transform 1s ease, opacity 1s ease;
      }
      .color__mode:hover {
        transform: scale(1.22);
      }
}

@media (max-width: 767.98px) {
    .color__mode {
        margin: -2rem 0rem 1rem 0rem;
        padding-right: 2rem;
        padding-top: 2rem;
        display: block;
        background: url(../resources/icons/nav/color.svg) center no-repeat;
        background-size: 26px;
        transform: translate(0, 0);
        opacity: 1;
        transition: transform 1s ease, opacity 1s ease;
      }
      .color__mode:hover {
        transform: scale(1.22);
      }
}
/* 2 */
@media (min-width: 768.98px) {
    .vibro__mode {
       visibility: hidden;
      }
}

@media (max-width: 767.98px) {
    .vibro__mode {
        margin: -2rem 0rem 1rem 0rem;
        padding-right: 2rem;
        padding-top: 2rem;
        display: block;
        background: url(../resources/icons/nav/vibro.svg) center no-repeat;
        background-size: 26px;
        transform: translate(0, 0);
        opacity: 1;
        transition: transform 1s ease, opacity 1s ease;
      }
      .vibro__mode:hover {
        transform: scale(1.22);
      }
}
@media (min-width: 768.98px) {
    .vibro__mode2 {
       visibility: hidden;
      }
}

@media (max-width: 767.98px) {
    .vibro__mode2 {
        margin: -2rem 0rem 1rem 0rem;
        padding-right: 0.75rem;
        padding-top: 2rem;
        display: block;
        background: url(../resources/icons/nav/vibro.svg) center no-repeat;
        background-size: 26px;
        transform: translate(0, 0);
        opacity: 1;
        transition: transform 1s ease, opacity 1s ease;
      }
      .vibro__mode:hover {
        transform: scale(1.22);
      }
}
/* TOOLS */